/* CSS Header */
.banner {
  margin-bottom: 0;
  position: sticky;
  top: 0;
  z-index: 3;
}

.banner-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 10vh;
  font-size: large;
  font-weight: 600;
  align-items: center;
  background: rgb(10, 16, 21);
  background: radial-gradient(
    circle,
    rgba(10, 16, 21, 0.8) 51%,
    rgba(11, 24, 35, 1) 71%,
    rgba(10, 34, 58, 1) 88%,
    rgba(20, 39, 60, 1)
  );
}

.banner-info * {
  color: white;
  text-decoration: none;
}

.banner-side {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  position: relative;
  top: 0;
  opacity: 0;
  animation: fadeInAnimationSide ease-in-out 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimationSide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.banner-mid {
  width: 25%;
  text-align: center;
}

.banner-mid .logo {
  height: 80px;
  aspect-ratio: 1/1;
  object-fit: cover;
  fill: var(--radio-color);
}

.banner-title:hover,
.banner-signout:hover {
  color: rgba(243, 228, 201, 0.785);
  transition: 0.5s;
  cursor: pointer;
  transform: translateY(-4px);
  text-decoration: underline;
}

.banner-logo {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  position: relative;
  animation: fadeInAnimation ease-in-out 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.banner-account:hover,
.banner-account > .banner-title:hover {
  transform: none;
}

.banner-account:hover > .banner-signout {
  opacity: 1;
  transition: 500ms;
}

.banner-signout {
  opacity: 0;
  position: fixed;
  margin-top: 7px;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
  border: none;
  background-color: transparent;
}

@keyframes fadeInAnimation {
  0% {
    top: 0;
    opacity: 0;
  }
  50% {
    top: 3vh;
    opacity: 0.5;
  }
  100% {
    top: 0vh;
    opacity: 1;
  }
}
