/* SUMMARY */
#summary {
  width: 55%;
  min-width: 850px;
  display: grid;
  grid-auto-flow: column;
  grid-template: repeat(3, calc(90% / 3)) / repeat(2, calc(95% / 2));
  gap: 5%;
  margin: 5% auto;
}

.summary-item {
  font-size: 1.05rem;
  text-align: justify;
  overflow: hidden;
  padding: 3%;
}

#summary .highlight {
  background-color: var(--radio-color);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(78, 77, 77);
}

#summary img {
  padding: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  box-shadow: 5px 5px 10px rgb(78, 77, 77);
}

#summary .item-1 {
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
}

#summary .item-6 {
  border-bottom-left-radius: 500px;
  border-bottom-right-radius: 500px;
}

@media only screen and (max-width: 1199.99px) {
  #summary {
    width: 70%;
    min-width: 750px;
    gap: 3%;
  }
  #summary > * {
    font-size: 1rem;
    padding: 2% 4%;
  }
}

@media only screen and (max-width: 991.98px) {
  #summary {
    width: 80%;
    min-width: 690px;
    gap: 2.5%;
  }
  #summary > * {
    font-size: 0.9rem;
    padding: 2% 3%;
  }
}

@media only screen and (max-width: 767.98px) {
  #summary {
    width: 90%;
    min-width: 0;
    gap: 2%;
    grid-template: repeat(3, calc(96% / 3)) / repeat(2, calc(98% / 2));
  }
  #summary > * {
    font-size: 0.85rem;
    padding: 2%;
  }
}

@media only screen and (max-width: 575.98px) {
  #summary {
    display: block;
    width: 80%;
  }

  #summary > * {
    margin-bottom: 3%;
    padding: 4% 2%;
    font-size: 1rem;
  }

  #summary img {
    aspect-ratio: 2/1;
    padding: 0;
  }
}
