.search-container {
  margin: 2% 5% 0;
}

.search-title {
  font-weight: 700;
}

.search-box {
  height: 7vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 3%;
}

.search-input {
  width: 100%;
  height: 100%;
  padding-left: 1%;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: rgba(204, 229, 253, 0.1);
}

.btn-search {
  text-decoration: none;
  appearance: none;
  border: none;
  background-color: transparent;
  width: 5%;
  height: inherit;
  padding: 0.5% 1%;
  position: absolute;
  right: 5%;
}

.logo-search {
  fill: var(--text-color);
  width: 100%;
  height: 100%;
}

.btn-search:hover > .logo-search {
  transform: scale(1.1);
  transition: var(--transition-style);
}

@media only screen and (max-width: 1199.99px) {
  .search-box {
    height: 6.5vh;
  }
}
@media only screen and (max-width: 991.98px) {
  .search-box {
    height: 6vh;
  }
}

@media only screen and (max-width: 767.98px) {
  .search-box {
    height: 5vh;
  }
  .search-input {
    padding-left: 2%;
    font-size: 0.9rem;
  }
  .btn-search {
    right: 7%;
  }
}
@media only screen and (max-width: 575.98px) {
  .search-box {
    margin-bottom: 5%;
  }
  .search-input {
    max-height: 5vh;
    padding-left: 2%;
    font-size: 0.8rem;
  }
  .btn-search {
    right: 7%;
    padding: 0;
  }
}
