.sub-title {
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: 700;
}

.class {
  width: 80%;
  margin: 2% auto 2% 5%;
}

.class > * {
  margin-bottom: 3%;
}

@media only screen and (max-width: 1199.99px) {
  .class {
    width: 80%;
  }
}
@media only screen and (max-width: 991.98px) {
  .class {
    width: 85%;
  }
}

@media only screen and (max-width: 767.98px) {
  .class {
    width: 90%;
  }
}
