.other-posts {
  width: 70%;
  min-width: 1100px;
  margin: 2% auto;
}

.other-posts > .header {
  margin: 20px 0;
}

.other-posts > .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1%;
}

.other-posts > .list > .post {
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  width: calc(25% - 1%);
  cursor: pointer;
  text-decoration: none;
}

.other-posts > .list img {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  aspect-ratio: 18/10;
}

.other-posts .title,
.other-posts .other-info {
  padding: 2px 7px;
}

.other-posts .title {
  font-size: 1.1rem;
  font-weight: 600;
  height: 2.4rem;
  line-height: 1.2rem;
  overflow: hidden;
}

.other-posts > .list:hover > * {
  transition: 0.5s ease-in-out;
}

.other-posts .post:hover {
  transform: scale(1.1);
  z-index: 2;
}

.other-posts .other-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.other-posts .other-info svg {
  height: 12px;
  margin-right: 3px;
  fill: var(--text-color);
}

@media only screen and (max-width: 1199.99px) {
  .other-posts {
    width: 85%;
    min-width: 0;
  }
  .other-posts .title {
    font-size: 0.9rem;
    height: 2.2rem;
    line-height: 1.1rem;
  }

  .other-posts .other-info {
    font-size: 0.9rem;
  }
  .other-posts .other-info svg {
    height: 10px;
  }
}

@media only screen and (max-width: 991.98px) {
  .other-posts {
    width: 95%;
  }

  .other-posts .title {
    font-size: 0.8rem;
    height: 2rem;
    line-height: 1rem;
  }

  .other-posts .other-info {
    font-size: 0.8rem;
  }

  .other-posts .other-info svg {
    height: 9px;
  }
}

@media only screen and (max-width: 767.98px) {
  .other-posts {
    width: 92%;
  }

  .other-posts > .list {
    gap: 2%;
  }

  .other-posts > .list > .post {
    width: calc(50% - 2%);
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 575.98px) {
  .other-posts {
    width: 100%;
  }

  .other-posts > .list {
    width: 70%;
    margin: 0 auto;
  }

  .other-posts > .header {
    margin: 20px 7%;
  }

  .other-posts > .list > .post {
    width: 100%;
    margin-bottom: 7%;
  }

  .other-posts .title {
    font-size: 1rem;
    height: 2rem;
    line-height: 1rem;
  }

  .other-posts .other-info {
    font-size: 1rem;
  }

  .other-posts .other-info svg {
    height: 11px;
  }

  .other-posts > .list img {
    aspect-ratio: 3/1;
  }
}
