.header-title {
  width: fit-content;
  margin: 5% 0 10% 0;
  font-family: "Lobster";
  font-size: 2.6rem;
  font-weight: 400;
  text-align: left;
}

.header-text {
  height: 60%;
  font-style: italic;
  text-align: justify;
  font-size: 1rem;
  overflow: hidden;
}

#post-header {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

.header-des {
  position: relative;
  top: 15%;
  left: 5%;
  width: 22%;
  min-width: 400px;
  aspect-ratio: 1/1;
  max-height: 90%;
  padding: 1% 1.5%;
  border-radius: 15px;
  background-color: rgba(52, 73, 94, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width: 1199.99px) {
  .header-des {
    width: 35%;
    min-width: 380px;
    padding: 2%;
  }
  .header-title {
    font-size: 2.6rem;
  }
  .header-text {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 991.98px) {
  .header-des {
    width: 40%;
    min-width: 350px;
    padding: 2%;
  }
  .header-title {
    font-size: 2.4rem;
  }
  .header-text {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 767.98px) {
  .header-des {
    width: 45%;
    min-width: 320px;
    padding: 2%;
  }
  .header-title {
    font-size: 2.2rem;
  }
  .header-text {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 575.98px) {
  .header-des {
    width: 50%;
    min-width: 280px;
    padding: 3%;
  }
  .header-title {
    font-size: 2rem;
  }
  .header-text {
    font-size: 0.8rem;
  }
}
