.filter-item {
  width: 23%;
  border-radius: 10px;
  margin-bottom: 2%;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.filter-item > * {
  padding: 4px 8px 0px;
}

.filter-item img {
  padding: 0;
  width: 100%;
  aspect-ratio: 18/9;
  object-fit: cover;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.filter-item:hover {
  opacity: 1;
  transform: scale(1.1);
  z-index: 2;
  transition: all 500ms ease-in-out;
}

.filter-item > .item-title {
  margin-top: 2px;
  font-size: 1rem;
  font-weight: 600;
  height: 2.6rem;
  line-height: 1.3rem;
  overflow: hidden;
}

.filter-item > .item-other-info,
.item-author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.filter-item > .item-other-info svg {
  height: 15px;
  padding-bottom: 2px;
  margin-right: 5px;
  fill: var(--text-color);
}

@media only screen and (max-width: 1199.99px) {
  .filter-item > .item-title {
    font-size: 0.9rem;
    height: 2.4rem;
    line-height: 1.2rem;
  }

  .filter-item > .item-other-info,
  .item-author {
    font-size: 0.9rem;
  }
  .filter-item > .item-other-info svg {
    height: 10px;
  }
}

@media only screen and (max-width: 991.98px) {
  .filter-item > .item-title {
    font-size: 0.85rem;
    height: 2rem;
    line-height: 0.9rem;
  }

  .filter-item > .item-other-info,
  .item-author {
    font-size: 0.85rem;
  }
  .filter-item > .item-other-info svg {
    height: 12px;
  }
}

@media only screen and (max-width: 767.98px) {
  .filter-item {
    width: 31%;
  }
}

@media only screen and (max-width: 575.98px) {
  .filter-item {
    width: 49%;
  }
  .filter-item > .item-other-info svg {
    margin-right: 3px;
    padding-bottom: 1px;
  }
}
