:root {
  --radio-color: #f7f1e3;
  --text-color: #bdac8e;
  --danger-color: #dc3545;
  --background-color: rgb(52, 73, 94);
  --transition-style: 0.5s ease-in-out;
}

.post-container > * {
  margin: 2% auto;
}
