@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Eczar&display=swap");
@import-normalize;

:root {
  --radio-color: #f7f1e3;
  --text-color: #bdac8e;
  --danger-color: #dc3545;
  --background-color: rgb(52, 73, 94);
  --transition-style: 0.5s ease-in-out;
}

* {
  font-family: "Eczar", serif;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  line-height: 1.3;
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  padding: 0;
}

body {
  background-color: var(--background-color);
}

.Toastify__toast-container {
  top: 10vh !important;
}

.most-read-list,
.recently-list,
.all-list,
.search-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}

.most-read-list:hover > *,
.recently-list:hover > *,
.all-list:hover > *,
.search-list:hover > * {
  opacity: 0.7;
  transition: all 500ms ease-in-out;
}
