#main-content .title {
  text-align: center;
  border-radius: 10px;
  padding: 3% 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2% 0;
}

#main-content .title > h1 {
  font-size: 3.5rem;
  width: fit-content;
  margin: 0 auto;
  padding: 5px 12px;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.5);
}

#main-content > .list {
  width: 50%;
  margin: 3% auto;
}

.list .content-item {
  padding-bottom: 20px;
}

.list .content-item > .item-name {
  font-size: 1.7rem;
  font-weight: 700;
}

.list .content-item > .item-des {
  text-align: justify;
  font-size: 1.1rem;
}

.list .content-item > .item-des > * {
  text-indent: 20px;
  margin-bottom: 5px;
}

.list .content-item > .item-img {
  margin: 10px auto;
}

.list .content-item img {
  width: 100%;
  aspect-ratio: 2/1;
  object-fit: cover;
  border-radius: 10px;
}

.list .author {
  font-style: italic;
  text-align: end;
  font-size: 1.2rem;
}

@media only screen and (max-width: 1199.99px) {
  #main-content > .list {
    width: 60%;
  }
  #main-content .title > h1 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 991.98px) {
  #main-content > .list {
    width: 70%;
  }
  .list .content-item > .item-des,
  .list .author {
    font-size: 1rem;
  }
  #main-content .title > h1 {
    font-size: 2.6rem;
  }
}

@media only screen and (max-width: 767.98px) {
  #main-content > .list {
    width: 80%;
  }
  .list .content-item > .item-des,
  .list .author {
    font-size: 0.9rem;
  }
  #main-content .title > h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 575.98px) {
  #main-content > .list {
    width: 85%;
  }
  #main-content .title > h1 {
    font-size: 1.7rem;
  }
}
