@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Eczar&display=swap");

.signin-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  color: var(--text-color);
  background: url("../../../public/img/background-signin.png") no-repeat fixed
    center center;
  background-size: cover;
}

.form-control:focus {
  color: var(--text-color);
}

.form-container {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 27%;
  min-width: 520px;
  aspect-ratio: 10/12;
  border-radius: 20px;
  border: 2px solid var(--background-color);
  background-color: rgb(58 71 84 / 50%);
}

.signin-container * {
  font-family: "Lobster", cursive;
}

#header-signin,
#header-register {
  width: 35%;
  margin: 2% 7%;
  padding: 2% 0%;
  text-align: center;
  color: var(--radio-color);
  font-size: 25px;
  cursor: pointer;
  display: inline-block;
  transition: var(--transition-style);
}

#signin-form,
#register-form,
#forgot-form {
  width: 86%;
  margin: 1% 7%;
  position: absolute;
  backface-visibility: hidden;
  transition: var(--transition-style);
  transform: rotateY(180deg);
}

.header-active {
  color: var(--text-color) !important;
  border-bottom: 1px solid var(--text-color);
}

.form-active {
  transform: rotate(0) !important ;
}

.status-active {
  opacity: 1 !important;
}

.form-title {
  margin: 2.5% 0%;
  text-align: center;
  font-size: 3rem;
}

.form-input label {
  font-size: 1.1rem;
  transition: var(--transition-style);
  padding-bottom: 0;
  padding-top: 1.6rem;
}

.form-input input {
  background-color: transparent !important;
  border: none;
  border-bottom: 1px solid var(--text-color) !important;
  font-size: 1.1rem;
  width: 100%;
  padding-bottom: 0 !important;
  padding-top: 2rem !important;
  color: var(--text-color);
  box-shadow: none !important;
  transition: var(--transition-style);
}

.form-input .status {
  padding: 0 0.75rem;
  opacity: 0;
  color: var(--danger-color);
  font-size: 16px;
  transition: var(--transition-style);
}

.back {
  margin-bottom: 5%;
  text-align: right;
}

.back > * {
  cursor: pointer;
}

.btn-container {
  margin-top: 7%;
}

.btn-submit {
  width: 30%;
  margin: 0 35%;
  color: var(--text-color);
  background-color: transparent;
  border: 1px solid var(--text-color);
  border-radius: 7px;
  padding: 7px 0;
  font-size: 1.1rem;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: var(--text-color);
  color: var(--radio-color);
  box-shadow: 0px 0px 20px var(--text-color);
  transition: var(--transition-style);
}

@media only screen and (max-width: 1400px) {
  .form-container {
    width: 40%;
    min-width: 510px;
  }
}
@media only screen and (max-width: 990px) {
  .form-container {
    left: 0;
    width: 60%;
    margin: auto 20%;
  }
}
@media only screen and (max-width: 768px) {
  .form-container {
    left: 0;
    top: 15%;
    width: 70%;
    min-width: 450px;
    margin: auto 15%;
    aspect-ratio: 10/13;
  }
  .form-title {
    font-size: 2.5rem;
  }
  .form-content label {
    padding-top: 1.8rem;
    font-size: 1rem;
  }
  .form-input .status {
    font-size: 1rem;
  }
  .back {
    text-align: left;
    font-size: 1rem;
    padding-left: 10px;
  }
}
@media only screen and (max-width: 576px) {
  .form-container {
    left: 0;
    width: 80%;
    min-width: 385px;
    margin: auto 10%;
    aspect-ratio: 10/13;
  }

  .form-content label {
    font-size: 0.9rem;
    padding-top: 2rem;
  }
  .form-content input {
    font-size: 0.9rem;
  }
  .form-input .status {
    font-size: 10px;
  }
  .back {
    font-size: 0.9rem;
  }

  .btn-submit {
    font-size: 0.9rem;
  }
}
